{% extends 'base.html.twig' %}

{% block title %}Hello AdministrateurController!{% endblock %}

{% block body %}
<style>
    wrapper { margin:  auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
 }
 .btn{
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5%;
  font-size: 30px;
  text-align: center;
  margin:50px;
  text-decoration:none; 
  min-width: 40%;
  min-height: 50%;
 background-color: #0B4C5F;
 color: white;
 border-radius: 5%;
}
a {
    text-decoration:none; 
}

</style>

<div class="wrapper">
   <a href="">
  <button type="button" class="btn">Administrateurs</button> </a>
   <a href="">
  <button type="button" class="btn">Enseignants</button> </a>
   <a href="" >
  <button type="button" class="btn">Elèves</button>
   </a>
 
   <a href="">
  <button type="button" class="btn" >Consulter les archives</button> </a>

   <a href="">
  <button type="button" class="btn" >Mon compte</button> </a>

   <a href="">
  <button type="button" class="btn" >Se déconnecter</button> </a>
</div>
{% endblock %}
