{% extends 'base.html.twig' %}

{% block title %}Noter eleve{% endblock %}

{% block body %}
<style>
    wrapper { margin:  auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
 }
 .btn{
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5%;
  font-size: 30px;
  text-align: center;
  margin:50px;
  text-decoration:none; 
  min-width: 40%;
  min-height: 50%;
 background-color: #0B4C5F;
 color: white;
 border-radius: 5%;
}
a {
    text-decoration:none; 
}

</style>

<div class="wrapper">
   <a href="/enseignant/{{pfpmp1.id}}/noterpfpmp">
  <button type="button" class="btn">PFPM1</button> </a>
   <a href="/enseignant/{{pfpmp2.id}}/noterpfpmp">
    <button type="button" class="btn">PFPM2</button> </a>
   <a href="/enseignant/{{pfpmp3.id}}/noterpfpmp">
  <button type="button" class="btn">PFPM3</button> </a>
   <a href="/enseignant/{{pfpmp4.id}}/noterpfpmp">
     <button type="button" class="btn">PFPM4</button> </a>
  
</div>
{% endblock %}
